

*{
  margin: 0;
  padding: 0;
}

ul{
  list-style: none;
}

a{
  text-decoration: none;
}

body {
  color: #333;
  font-family: 'SoDoSans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-style: normal;
  line-height: 1.4;
  
}

/* ESTILO NAV-BAR */
nav .blackf{
  background-color: #1e3932; 
  padding: 15px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  cursor: pointer;
}

nav .blackf h1{
  color: white;
  text-align: center;
  font-size: 20px;
}

nav .blackf h1:hover{
  text-decoration: underline #00754a;
}

nav .navegação{
  display: flex;
  justify-content: space-between; 
  align-items: center;
  padding: 10px 20px;
}

nav ul{
  display: flex;
}

nav ul li{
  padding: 10px;
}

nav img{
  justify-content: center;
  align-items: center;
  margin: 10px;
}