

*{
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

ul{
  list-style: none;
}

a{
  text-decoration: none;
}

body {
  color: #333;
  font-style: normal;
  line-height: 1.4;
  
}

/* ESTILO NAV-BAR */
header{
  background-color: #1e3932;   
  padding-bottom: 20px;
}

header .blackf{
  padding: 15px;
  cursor: pointer;
}

header .blackf h1{
  color: white;
  text-align: center;
  font-size: 22px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header .blackf h1:hover{
  text-decoration: underline #00754a;
}

nav {
  display: flex;
  justify-content: space-between; 
  align-items: center;
  padding: 10px 20px;
  transition: 0.4s;
}

nav:hover{
  background-color: white;
}

nav:hover a, 
nav:hover i,
nav:hover button{
  color: #1e3932;
}

nav ul{
  display: flex;
}

nav ul li{
  padding: 6px 10px;
  font-size: 19px;
  font-weight: 400;
}

nav img{
  justify-content: center;
  align-items: center;
  width: 60px;
}

nav a{
  text-decoration: none;
  color: white;
}

nav i{
  color: white;
  padding: 10px 10px 10px 19px;
}

nav button {
  background-color: transparent;
  border-radius: 18px;
  padding: 0px 13px;
  font-size: 15px;
  border: 1px solid;
  text-decoration: none;
  color: white;
  text-align: center;
}


#promoções img{ 
  width: 100%;
}